<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="../js/source.js"></script>
    <script src="../js/porto/vendor/jquery/jquery.min.js"></script>
    <script src="list_tintuc.js" type="text/javascript"></script>
    <style>
        [v-cloak] {
            display:none;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            InitHeadAndScriptDefault();
        })
    </script>
</head>
<div id="header-menu"></div>
<div class="">
    <section class="page-header"> 
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="/"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="dulich-project-list-data" v-cloak>
    <div class="block-tin">
        <div class="tindau" v-for="(project, index) in projects" v-if="index==0">
            <div class="hinhanh">
                <a :href="'detail_tintuc.html?id=' + project.id">
                    <img :src="'https://dulichq6.hcmgis.vn/media/' + project.file" />
                </a>
                
            </div>
            <div class="tieude">
                    <a :href="'detail_tintuc.html?id=' + project.id">{{project.title}}</a>
                </div>
            <div class="sumary">
                {{project.ghichu}}
            </div>
        </div>
        <div class="list-tin" v-for="(project, index) in projects" v-if="index>0">
            <div class="tin">
                <div class="noidung">
                    <div class="hinhanh">
                        <a :href="'detail_tintuc.html?id=' + project.id">
                            <img :src="'https://dulichq6.hcmgis.vn/media/' + project.file" />
                        </a>
                    </div>
                </div>
                <div class="tieude">
                    <a :href="'detail_tintuc.html?id=' + project.id">{{project.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-dulich"></div>
<script>
    $(window).on('load', function() {
        $('#header-menu').load('../header_sub.html');
        $('#footer-dulich').load('../footer.html');
    })

    $(function () {
        var ProjectListTintucVue = new Vue ({
            el: "#dulich-project-list-data",
            data: {
                projects: null,
            },
            beforeCompile() {
                sleep(3000);
            },
            created: function() {
                var _this = this;
                ProjectListTintuc.InitData(_this);
            }
        });
    })
</script>
</html>
