@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed);

/* Tin tuc va su kien*/
.block-tin {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.block-tin .heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0705882);
}

.block-tin .heading:hover{
    cursor: pointer;
}

.block-tin .tindau {
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 120px;
    background: #f4f4f4;
}

.block-tin .tindau .hinhanh:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block-tin .tindau .hinhanh {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 10px;
}

.block-tin .tindau .hinhanh img {
    width: 100%;
    transition: all 0.3s;
} 

.block-tin .tindau .tieude {
    font: 700 1.375rem arial;
    text-decoration: none;
    position: absolute;
    font-size: 21px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 15px;
}

.block-tin .tindau .summary {
    font-size: 14px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}

.block-tin .list-tin {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.block-tin .list-tin .tin {
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: dashed 1px #eaeaea;
    padding-bottom: 7px;
    padding-top: 7px;
    overflow: hidden;
}

.block-tin .list-tin .tin .hinhanh:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block-tin .list-tin .tin .hinhanh {
    height: 100%;
    width: 115px;                
    overflow: hidden;
    float: left;     
}

.block-tin .list-tin .tin .hinhanh img {
    height: 85%;
    width: 100%;
    transition: all 0.3s;
}

.block-tin .list-tin .tin .noidung:hover {
    opacity: 0.8;
}

.block-tin .list-tin .tin .tieude {
    padding-left: 5px;
    height: 65px;
    overflow: hidden;
    font: 400 1.125rem arial;
    line-height: 1.313;
}

.block-tin .list-tin .tin .tieude  b {
    font-weight: 400 !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-tin .list-tin .tin .tieude strong {
    font-weight: normal !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-tin .list-tin .tin .tieude p {
    font-weight: normal !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-tin .list-tin .tin .tieude  a {
    color: black;
}

/* Diem den */
.block-diemden {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.block-diemden .heading {
    color: #9F224E;
    font: 700 1.375rem arial;
    line-height: 1.313;

    font-weight: bold;
    text-transform: none;
    padding-bottom: 4px;
    margin-left: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0705882);
}

.block-diemden .heading:hover{
    cursor: pointer;
}

.block-diemden .tindau {
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    background: #f4f4f4;
}

.block-diemden .tindau .hinhanh:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block-diemden .tindau .hinhanh {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 10px;
}

.block-diemden .tindau .hinhanh img {
    width: 100%;
    transition: all 0.3s;
} 

.block-diemden .tindau .tieude {
    font: 700 1.375rem arial;
    text-decoration: none;
    position: absolute;
    font-size: 21px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 15px;
}

.block-diemden .tindau .summary {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.block-diemden .list-tin {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.block-diemden .list-tin .tin {
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: dashed 1px #eaeaea;
    padding-bottom: 7px;
    padding-top: 7px;
    overflow: hidden;
}

.block-diemden .list-tin .tin .hinhanh:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block-diemden .list-tin .tin .hinhanh {
    height: 67px;
    width: 115px;                
    overflow: hidden;
    float: left;     
}

.block-diemden .list-tin .tin .hinhanh img {
    height: 85%;
    width: 100%;
    transition: all 0.3s;
}

.block-diemden .list-tin .tin .noidung:hover {
    opacity: 0.8;
}

.block-diemden .list-tin .tin .tieude {
    padding-left: 5px;
    height: 60px;
    overflow: hidden;
    font: 400 1.125rem arial;
    line-height: 1.313;
}

.block-diemden .list-tin .tin .tieude  b {
    font-weight: 400 !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-diemden .list-tin .tin .tieude strong {
    font-weight: normal !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-diemden .list-tin .tin .tieude p {
    font-weight: normal !important;
    font-size: 14px;
    margin-bottom: 50px;
}

.block-diemden .list-tin .tin .tieude  a {
    color: black;
}


/* Detail diemden */
.block-diemden-detail {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.block-diemden-detail .heading {
    color: #9F224E;
    font: 700 1.375rem arial;
    line-height: 1.313;

    font-weight: bold;
    text-transform: none;
    padding-bottom: 4px;
    margin-left: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0705882);
}

.block-diemden-detail .heading:hover{
    cursor: pointer;
}

.block-diemden-detail .tindau {
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    background: #f4f4f4;
}

.block-diemden-detail .tindau .hinhanh:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block-diemden-detail .tindau .hinhanh {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 10px;
}

.block-diemden-detail .tindau .hinhanh img {
    width: 100%;
    transition: all 0.3s;
} 

/* Trang chu */
.block-heading-diemden {
    color: #9F224E;
    font: 700 1.375rem arial;
    line-height: 1.313;
    padding-left: 15px;
    font-weight: bold;
    text-transform: none;
    padding-bottom: 4px;
    margin-left: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0705882);
}

.block-heading-diemden:hover{
    cursor: pointer;
}